/* Equipment style start */

.equipment {
	margin-top: 60px;
	margin-bottom: 60px;
	position: relative;
}

.equipment__title {
	margin-bottom: 60px;
}

.equipment__title::after {
	position: absolute;
	left: 360px;
	bottom: -310px;
	font-size: 120px;
	text-shadow: none;
	opacity: 6%;
	content: "ДЕВАЙСЫ";
	transform: rotate(270deg);
	transform-origin: bottom;
	z-index: -99;
}

.equipment__wrapper-cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.equipment__wrapper-card {
	display: flex;
	padding-bottom: 20px;
}

.equipment__card-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
}

.equipment__wrapper-card:nth-child(2) .equipment__card-main {
	display: flex;
	justify-content: start;
}

.equipment__card-title {
	font-size: 34px;
	font-family: 'FuturaNewBoldObl';
	text-transform: uppercase;
	transition: all .5s;
}

.equipment__card-subtitle {
	font-size: 18px;
	font-family: 'GothamProBlack';
	text-transform: uppercase;
	background: linear-gradient(to right, #4D9BD5 0%, #a071a5 30%, #b15994 64%, #c22280 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: 20px 0;
}

.equipment__card-text {
	text-align: center;
}

.equipment__wrapper-pic {
	position: relative;
}

.equipment__wrapper-pic img {
	max-width: 250px;
	object-fit: cover;
	filter: grayscale(100%);
	transform: scale(1);
	transition: all .5s ease-in-out;
	position: relative;
	z-index: 4;
}

.equipment__wrapper-pic img:hover {
	filter: grayscale(0%);
	transform: scale(1.2);
}

.equipment__wrapper-pic::after {
	content: '';
	width: 80%;
	transform: scale(0);
	background: linear-gradient(45deg, rgba(79, 82, 223, 1) 0%, rgba(241, 6, 155, 1) 100%);
	padding-top: 80%;
	transition: all .5s ease-in-out;
	opacity: 0;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}

.equipment__wrapper-pic:hover:after {
	opacity: 1;
	transform: scale(1.2);
}

/* Equipment style end */