@font-face {
	font-family: 'GothamProLight';
	src: url('GothamPro-Light.eot');
	src: local('Gotham Pro Light'), local('GothamPro-Light'),
		url('GothamPro-Light.eot?#iefix') format('embedded-opentype'),
		url('GothamPro-Light.woff') format('woff'),
		url('GothamPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'GothamProBlack';
	src: url('GothamPro-Black.eot');
	src: local('Gotham Pro Black'), local('GothamPro-Black'),
		url('GothamPro-Black.eot?#iefix') format('embedded-opentype'),
		url('GothamPro-Black.woff') format('woff'),
		url('GothamPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'GothamProBold';
	src: url('GothamPro-Bold.eot');
	src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
		url('GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('GothamPro-Bold.woff') format('woff'),
		url('GothamPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'GothamProMedium';
	src: url('GothamPro-Medium.eot');
	src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
		url('GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('GothamPro-Medium.woff') format('woff'),
		url('GothamPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'GothamProRegular';
	src: url('GothamPro.eot');
	src: local('Gotham Pro'), local('GothamPro'),
		url('GothamPro.eot?#iefix') format('embedded-opentype'),
		url('GothamPro.woff') format('woff'),
		url('GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaNewBoldObl';
	src: url('FuturaNewBoldObl.eot');
	src: url('FuturaNewBoldObl.eot') format('embedded-opentype'),
		url('FuturaNewBoldObl.woff2') format('woff2'),
		url('FuturaNewBoldObl.woff') format('woff'),
		url('FuturaNewBoldObl.ttf') format('truetype'),
		url('FuturaNewBoldObl.svg#FuturaNewBoldObl') format('svg');
}

@font-face {
	font-family: 'FuturaNewBookOblique';
	src: url('FuturaNewBookOblique.eot');
	src: url('FuturaNewBookOblique.eot') format('embedded-opentype'),
		url('FuturaNewBookOblique.woff2') format('woff2'),
		url('FuturaNewBookOblique.woff') format('woff'),
		url('FuturaNewBookOblique.ttf') format('truetype'),
		url('FuturaNewBookOblique.svg#FuturaNewBookOblique') format('svg');
}

@font-face {
	font-family: 'Aqum';
	src: url('Aqum.eot');
	src: local('Aqum'),
		url('Aqum.eot?#iefix') format('embedded-opentype'),
		url('Aqum.woff2') format('woff2'),
		url('Aqum.woff') format('woff'),
		url('Aqum.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url("Roboto_Condensed/RobotoCondensed-Light.ttf") format('truetype');
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 300;
	src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url("Roboto_Condensed/RobotoCondensed-LightItalic.ttf") format('truetype');
}

/* Normal */
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url("Roboto_Condensed/RobotoCondensed-Regular.ttf") format('truetype');
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 400;
	src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url("Roboto_Condensed/RobotoCondensed-Italic.ttf") format('truetype');
}

/* Bold */
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url("Roboto_Condensed/RobotoCondensed-Bold.ttf") format('truetype');
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 700;
	src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url("Roboto_Condensed/RobotoCondensed-BoldItalic.ttf") format('truetype');
}